table {
  margin-bottom: 80px;
  border-collapse: collapse;
}
tr,
td {
  border: 1px solid black;
  width: 200px;
  height: 30px;
  padding: 0 8px;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
